NOTION_TOKEN=secret_xxx
NOTION_DATABASE_ID=your-database-id

GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx
GOOGLE_REFRESH_TOKEN=xxx
GOOGLE_CALENDAR_ID=xxx@group.calendar.google.com

CRON_SECRET=some-random-secret
